<!doctype html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!--link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
		<link rel="stylesheet" href="{% static '/css/base.css' %}">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<img src="/static/images/company-logo.png" alt="kuliza logo">
			<h1>Kuliza Codeboard</h1>
		</header>
		<div class="data-container">
			<div class="side-menubar">
				<a class="menu" href="/">
					<div class="menu-items dashboard">Dashboard</div>
				</a>
				<a class="menu" href="/user-report">
					<div class="menu-items user-report">User Report</div>
				</a>
				{% if request.user.is_authenticated %}
				<div class="has-sub-menu">			
					<div class="menu-items lead-reports sub-menu-closed">
						<span>
							Lead Report 
						</span>
						<img src="../static/images/arrow_drop_down.png" class="dropdown-image" alt="dropdown_img">
					</div>
					<div class="submenu hidden-content">
						<a class="menu" href="/lead-reports?val=no_commit">
							<div class="sub-menu-items menu-items" id="no-commit-sub-menu"> <span class="arrow">&#10148;</span>  <span>Users With No Commit</span> </div>
						</a>
						<a class="menu" href="/lead-reports?val=full_commit">
							<div class="sub-menu-items menu-items" id="full-commit-sub-menu"><span class="arrow">&#10148;</span> <span>Full Commit Report</span> </div>
						</a>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="rendered-page">
				{% block content%} {% endblock %}
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
		<script src="{% static '/js/base.js' %}"></script>
	</body>
</html>