<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    {% block content %}
      <div id="content">
          <p>Latest commit details:</p>
          <p>Total commits:<span id="total_commits"></span></p>
          <p>Last commit came from:<span id="last_commit_email"></span></p>
          Per user commit entry:<p id="per_user_commits"></p>
      </div>
    {% endblock content %}
  </div>
  <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  {% block script %}

    <script>
        var socket = new WebSocket('ws://' + window.location.host + '/commit_report/');

        socket.onopen = function open() {
          console.log('WebSockets connection created.');
        };

        socket.onmessage = function message(event) {
          var data = JSON.parse(event.data);
          // NOTE: We escape JavaScript to prevent XSS attacks.
          var count = encodeURI(data['count']);
          var last_entry_email = encodeURI(data['last_entry_email']);
          var user_commits_count = JSON.stringify((data['user_commits_count']));
          $("#total_commits").html(count);
          $("#last_commit_email").html(last_entry_email);
          $("#per_user_commits").html(user_commits_count);
        };

        if (socket.readyState == WebSocket.OPEN) {
          socket.onopen();
        }
    </script>

  {% endblock script %}
</body>
</html>