{% extends 'base.html' %}

{% block content%}
    <div  class="page-selector" data-page-name="dashboard">
        <!--weekly number of commit stats for all devs-->
        <div id="number_of_commits_weekly" class="graph"></div>
        <!--weekly number of lines stats-->
        <div id="number_of_lines_weekly" class="graph" ></div>
        <!--code standard issue-->
        <div id="number_of_issues_weekly" class="graph"></div>
    </div>
        <!--p>Last week user commits: {{weekly_report}}</p-->
	{% block script %}
	<script>
	// js-comment:1 
			var commit_data = [];
			var names = [];
			var added = [];
			var removed = [];
			var python = [];
			var html = [];
			var java = [];
			var javascript = [];


			<!--Iterate over weekly data to provide data points for graph -->
			{% for k, v in weekly_report.items %}
					commit_data.push(['{{v.name}}', {{v.commit_count}}]);
					names.push('{{v.name}}');
					added.push({{v.lines.lines_added}});
					removed.push({{v.lines.lines_removed}});
					python.push({% if v.issues.python %}{{v.issues.python}}{% else %}0{% endif %});
					java.push({% if v.issues.java %}{{v.issues.java}}{% else %}0{% endif %});
					html.push({% if v.issues.html %}{{v.issues.python}}{% else %}0{% endif %});
					javascript.push({% if v.issues.javascript %}{{v.issues.javascript}}{% else %}0{% endif %});
			{% endfor %}


			Highcharts.chart('number_of_commits_weekly', {
					chart: {
							type: 'column'
					},
					title: {
							text: 'Number of commits per user(weekly)'
					},
					xAxis: {
							type: 'category',
							labels: {
									rotation: -45,
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					},
					yAxis: {
							min: 0,
							title: {
									text: 'Number of commits'
							}
					},
					legend: {
							enabled: false
					},
					tooltip: {
							pointFormat: 'Number of commits: <b>{point.y:.0f} </b>'
					},
					series: [{
							name: 'Number_of_commits',
							data: commit_data,
							dataLabels: {
									enabled: true,
									rotation: -90,
									color: '#FFFFFF',
									align: 'right',
									format: '{point.y:.0f}', // one decimal
									y: 10, // 10 pixels down from the top
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					}]
			});


			Highcharts.chart('number_of_lines_weekly', {
					chart: {
							type: 'column'
					},
					title: {
							text: 'Number of lines add/remove per user(weekly)'
					},
					xAxis: {
							categories: names,
							crosshair: true
					},
					yAxis: {
							min: 0,
							title: {
									text: 'Number of lines'
							}
					},
					tooltip: {
							headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
							pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
									'<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
							footerFormat: '</table>',
							shared: true,
							useHTML: true
					},
					plotOptions: {
							column: {
									pointPadding: 0.2,
									borderWidth: 0
							}
					},
					series: [{
							name: 'Added',
							data: added

					}, {
							name: 'Removed',
							data: removed
					}]
			});


			Highcharts.chart('number_of_issues_weekly', {
					chart: {
							type: 'column'
					},
					title: {
							text: 'Number of issues per user(weekly)'
					},
					xAxis: {
							categories: names,
							crosshair: true
					},
					yAxis: {
							min: 0,
							title: {
									text: 'Issues count'
							}
					},
					tooltip: {
							headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
							pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
									'<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
							footerFormat: '</table>',
							shared: true,
							useHTML: true
					},
					plotOptions: {
							column: {
									pointPadding: 0.2,
									borderWidth: 0
							}
					},
					series: [{
							name: 'Python',
							data: python

					}, {
							name: 'Html',
							data: html

					}, {
							name: 'JavaScript',
							data: javascript
					}, {
							name: 'Java',
							data: java
					}]
			});
			/* js-comment:1 
			var socket = new WebSocket('ws://' + window.location.host + '/commit_report/');
			
			socket.onopen = function open() {
				console.log('WebSockets connection created.');
			};
			
			socket.onmessage = function message(event) {
				var data = JSON.parse(event.data);
				// NOTE: We escape JavaScript to prevent XSS attacks.
				var count = encodeURI(data['count']);
				var last_entry_email = encodeURI(data['last_entry_email']);
				var user_commits_count = JSON.stringify((data['user_commits_count']));
				$("#total_commits").html(count);
				$("#last_commit_email").html(last_entry_email);
				$("#per_user_commits").html(user_commits_count);
			};
			
			if (socket.readyState == WebSocket.OPEN) {
				socket.onopen();
			}
			*/
	</script>
	{% endblock script %}
{% endblock %}


