{% extends 'base.html' %}

{% block custom_head_content %}
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

ul {
    margin-left: 26px;
}
</style>
{% endblock %}

{% block content%}
    <div  class="page-selector" data-page-name="code-review-report">

        <h3>Kuliza Code Review Reports</h3>
        </br>

        <div class="card">
          <!--img src="img_avatar.png" alt="Avatar" style="width:100%"-->
          <div class="container">
            <h6><b>Important numbers at company level</b></h6>
            <ul>
                <li>Total number of code pushed by developers: <span id="company_number_of_push"></span></li>
                <li>Total number of code review request raised: <span id="company_number_of_pr_raised"></span></li>
                <li>Total number of code reviewed: <span id="company_number_of_pr_reviewed"></span></li>
                <li>Total number of comments made on code review request: <span id="company_number_of_comments_on_pr"></span></li>
                <li>Total number of approvals on code reviews request: <span id="company_number_of_approvals_on_pr"></span></li>
            </ul>

            <h6><b>Some inference from above numbers</b></h6>
              <ul>
                <li>Percentage of code review request raised for code being pushed: <span id="raise_percentage"></span></li>
                <li>Percentage of code push that are being reviewed: <span id="review_percentage"></span></li>
            </ul>
          </div>
        </div>

        <br/>

        <div class="card">
          <!--img src="img_avatar.png" alt="Avatar" style="width:100%"-->



          <div class="container">

            <h6><b>Project Level Reports</b></h6>
            <div id="project_graphs" class="graph"></div>
            <div id="approval_graphs" class="graph"></div>
            <div id="comment_graphs" class="graph"></div>

            <h6><b>Detailed Report</b></h6>
            <div id="project_reports" class="elements"></div>


          </div>
        </div>

    </div>

	{% block script %}
	<script>
        function httpGet(url)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", url, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }

        var response = JSON.parse(httpGet('/code-repo-report/'));
        console.log(response);
        for (var key in response.company) {
            if (response.company.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                $('#company_' + key).html(response.company[key]);
            }
        }

        function get_percentage(a, b) {
            if (a && b) {
                var result = (a / b) *100;
                result = result.toFixed(2);
                return result;
            }
            return 0;
        }

        $('#raise_percentage').html((response.company.number_of_pr_raised/response.company.number_of_push * 100).toFixed(2) + " %");
        $('#review_percentage').html((response.company.number_of_pr_reviewed/response.company.number_of_pr_raised*100).toFixed(2) + " %");

        var graph_data = [];
        var order = ['number_of_push', 'number_of_pr_raised', 'number_of_pr_reviewed', 'number_of_comments_on_pr',
            'number_of_approvals_on_pr'];
        var texts = ['Number of code pushes', 'Number of code review requests', 'Number of code reviews done',
                    'Number of comments on code review request', 'Number of approvals on code review'];
        for (p in response.projects) {
            var reference_element = $(".elements").last();
            if (response.projects_display_name.hasOwnProperty(response.projects[p])) {
                project_html = '<div class="element"><h6><b>' + response.projects_display_name[response.projects[p]] + '</b></h6><ul>';
            }
            else {
                project_html = '<div class="element"><h6><b>' + response.projects[p] + '</b></h6><ul>';
            }

            for (o in order) {
                console.log(response.project[order[o]]);
                project_html += '<li>' + texts[o] + ': <span>' + (response.project[order[o]][response.projects[p]] ? response.project[order[o]][response.projects[p]] : 0) + '</span></li>';
            }

            var percent = get_percentage(response.project.number_of_pr_reviewed[response.projects[p]], response.project.number_of_pr_raised[response.projects[p]]);
            // project_html += '<li>Percentage of code review request raised for code being pushed: <span>' + get_percentage(response.project.number_of_pr_raised[response.projects[p]], response.project.number_of_push[response.projects[p]]) + " %" + '</span></li>';
            project_html += '<li>Percentage of code review request that are being reviewed: <span>' + percent + " %" + '</span></li>';
            project_html += '</ul></div>';
            reference_element.after(project_html);
            graph_data.push([response.projects_display_name[response.projects[p]], parseFloat(percent)]);
        }

        approval_data = [];
        for (data in response.individual.approvers_list) {
            approval_data.push([response.individual.approvers_list[data].actor_username, response.individual.approvers_list[data].count]);
        }

        comments_data = [];
        for (data in response.individual.commenters_list) {
            comments_data.push([response.individual.commenters_list[data].actor_username, response.individual.commenters_list[data].count]);
        }


        $(document).ready(function(){
            Highcharts.chart('project_graphs', {
					chart: {
							type: 'column'
					},
					title: {
							text: 'Code review percentage for raised code review request across projects'
					},
					xAxis: {
							type: 'category',
							labels: {
									rotation: -45,
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					},
					yAxis: {
							min: 0,
							title: {
									text: 'Code Review Percentage'
							}
					},
					legend: {
							enabled: false
					},
					tooltip: {
							pointFormat: 'Review Percent: <b>{point.y:.0f} </b>'
					},
					series: [{
							name: 'Code Review Percentage',
							data: graph_data,
							dataLabels: {
									enabled: true,
									rotation: -90,
									color: '#FFFFFF',
									align: 'right',
									format: '{point.y:.0f}', // one decimal
									y: 10, // 10 pixels down from the top
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					}]
			});


			Highcharts.chart('approval_graphs', {
					chart: {
							type: 'column'
					},
					title: {
							text: 'Number of Approvals done( for code review requests by individuals)'
					},
					xAxis: {
							type: 'category',
							labels: {
									rotation: -45,
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					},
					yAxis: {
							min: 0,
							title: {
									text: 'Approvals Count'
							}
					},
					legend: {
							enabled: false
					},
					tooltip: {
							pointFormat: 'Approvals Count: <b>{point.y:.0f} </b>'
					},
					series: [{
							name: 'Approvals Count by Individuals',
							data: approval_data,
							dataLabels: {
									enabled: true,
									rotation: -90,
									color: '#FFFFFF',
									align: 'right',
									format: '{point.y:.0f}', // one decimal
									y: 10, // 10 pixels down from the top
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					}]
			});



			Highcharts.chart('comment_graphs', {
					chart: {
							type: 'column'
					},
					title: {
							text: 'Number of Comments( on code review requests by individuals)'
					},
					xAxis: {
							type: 'category',
							labels: {
									rotation: -45,
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					},
					yAxis: {
							min: 0,
							title: {
									text: 'Comments Count'
							}
					},
					legend: {
							enabled: false
					},
					tooltip: {
							pointFormat: 'Comments count: <b>{point.y:.0f} </b>'
					},
					series: [{
							name: 'Comments count',
							data: comments_data,
							dataLabels: {
									enabled: true,
									rotation: -90,
									color: '#FFFFFF',
									align: 'right',
									format: '{point.y:.0f}', // one decimal
									y: 10, // 10 pixels down from the top
									style: {
											fontSize: '13px',
											fontFamily: 'Verdana, sans-serif'
									}
							}
					}]
			});
        });


	</script>
	{% endblock script %}
{% endblock %}


