{% load prettyjson %}
{% prettyjson_setup %}
{% if issues %}
  <div>
	<div>Note: This report is for last week</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Project</th>
				<th scope="col">Time</th>
				<th scope="col">Report</th>
			</tr>
		</thead>
		<tbody>
			{% for issue in issues %}
			<tr>
				<th scope="row">{{forloop.counter}}</th>
				<td>{{issue.project}}</td>
				<td>{{issue.created_at}}</td>
				<td>
					{% if issue.lint_report %}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lint-report-{{forloop.counter}}">
						Click to view report
					</button>
					<!-- Modal -->
					<div class="modal fade" id="lint-report-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="lint-report-Title"
						aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="lint-report-Title">Lint Report</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" id="modal-data">
									{% prettyjson issue.lint_report %}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					{% else %}No Report for this commit{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
  </div>
	{% else %} 
	<div class="no-commit-message "> No commit/issues found for given user </div>
	{% endif %}